<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="18"/>
                <entry key="0" type="xstring" value="apparent_temperature"/>
                <entry key="1" type="xstring" value="cloudcover"/>
                <entry key="2" type="xstring" value="cloudcover_high"/>
                <entry key="3" type="xstring" value="cloudcover_low"/>
                <entry key="4" type="xstring" value="cloudcover_mid"/>
                <entry key="5" type="xstring" value="et0_fao_evapotranspiration"/>
                <entry key="6" type="xstring" value="soil_temperature_100_to_255cm"/>
                <entry key="7" type="xstring" value="soil_temperature_7_to_28cm"/>
                <entry key="8" type="xstring" value="winddirection_100m"/>
                <entry key="9" type="xstring" value="windgusts_10m"/>
                <entry key="10" type="xstring" value="Irr0"/>
                <entry key="11" type="xstring" value="azimuth"/>
                <entry key="12" type="xstring" value="elevation"/>
                <entry key="13" type="xstring" value="equation_of_time"/>
                <entry key="14" type="xstring" value="ghi"/>
                <entry key="15" type="xstring" value="tracker_theta"/>
                <entry key="16" type="xstring" value="zenith"/>
                <entry key="17" type="xstring" value="Irr"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="33"/>
                <entry key="0" type="xstring" value="rowID"/>
                <entry key="1" type="xstring" value="UTC"/>
                <entry key="2" type="xstring" value="dewpoint_2m"/>
                <entry key="3" type="xstring" value="is_day"/>
                <entry key="4" type="xstring" value="precipitation"/>
                <entry key="5" type="xstring" value="pressure_msl"/>
                <entry key="6" type="xstring" value="rain"/>
                <entry key="7" type="xstring" value="relativehumidity_2m"/>
                <entry key="8" type="xstring" value="snowfall"/>
                <entry key="9" type="xstring" value="soil_moisture_0_to_7cm"/>
                <entry key="10" type="xstring" value="soil_moisture_100_to_255cm"/>
                <entry key="11" type="xstring" value="soil_moisture_28_to_100cm"/>
                <entry key="12" type="xstring" value="soil_moisture_7_to_28cm"/>
                <entry key="13" type="xstring" value="soil_temperature_0_to_7cm"/>
                <entry key="14" type="xstring" value="soil_temperature_28_to_100cm"/>
                <entry key="15" type="xstring" value="surface_pressure"/>
                <entry key="16" type="xstring" value="temperature_2m"/>
                <entry key="17" type="xstring" value="vapor_pressure_deficit"/>
                <entry key="18" type="xstring" value="winddirection_10m"/>
                <entry key="19" type="xstring" value="windspeed_100m"/>
                <entry key="20" type="xstring" value="windspeed_10m"/>
                <entry key="21" type="xstring" value="POAb"/>
                <entry key="22" type="xstring" value="POAd"/>
                <entry key="23" type="xstring" value="POAg"/>
                <entry key="24" type="xstring" value="aoi"/>
                <entry key="25" type="xstring" value="apparent_elevation"/>
                <entry key="26" type="xstring" value="apparent_zenith"/>
                <entry key="27" type="xstring" value="dhi"/>
                <entry key="28" type="xstring" value="dni"/>
                <entry key="29" type="xstring" value="surface_azimuth"/>
                <entry key="30" type="xstring" value="surface_tilt"/>
                <entry key="31" type="xstring" value="year"/>
                <entry key="32" type="xstring" value="PLANT"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.4.v202504301443"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.4.v202504301443"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 41778, Cols: 18"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="f6aff301-05db-4e72-9391-34493b500445"/>
    </config>
</config>
